html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.box {
  width: 90%;
  max-width: 800vw;
  height: 90%;
  max-width: 800vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
}
.box h1, .box p, .box ul {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
  user-select: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.box h1 {
  font-size: 96px;
}

.box p {
  font-size: 24px; 
}

hr {
  color: white;
  width: 40%;
  height: 1px;
  margin-left: 0;
  box-shadow: none;
}

.box ul{
  font-size: 30px;
  margin-left: 30px;
  margin-top: 50px;
  padding : 0;

}

.box a {
  color: white;
}

.content {
  position: absolute;
  top: 50%;
  left: calc(50% + 350px);
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 800px;
  height: auto;
  padding: 10px;
  z-index: 2;
}

.photo {
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 2;
  height: 30vh;
  width: 30vh;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  overflow: hidden;
}

.photo img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: -20%;
  left: -10%;
}

ul li a.active {
  color: transparent;
}

.bio {
  color: white;
  font-size: 25px;
  padding: 0;
  z-index: 2;
  margin-top: 50%;
  line-height: 20px;
}

.skills {
  margin: 20px 0;
}

.skill {
  margin-bottom: 20px;
}

.skill h3 {
  margin-bottom: 5px;
  color: white;
  font-size: 30px;
}

.skill-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: relative;
}

.skill-fill {
  background-color: #76c7c0;
  height: 100%;
  display: block;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  animation: progress 1500ms ease-in 1;
  z-index: 2;
}

@keyframes progress {
  from {
      width: 0;
  }
}

.skills p {
  color: white;
  font-size: 30px;
}

.contact {
  text-align: center;
  margin-top: 20px;
}

.contact h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.contact-link i {
  margin-right: 8px;
}

.contact-link:hover {
  color: purple;
  text-decoration: underline;
}

@media (max-width: 786px) {
  .bio{
    font-size: 20px;
    left: 10%;
    margin-top: 50%;
  }

  .box {
    width: 95%;
    padding: 10px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }
  hr{
    width: 100%;
    margin: 0;
  }

  .box h1 {
    font-size: 60px; 
  }

  .box p {
    font-size: 20px; 
  }

  .home {
    padding-top: 10%;
  }
  .box ul {
    display: flex;
    margin-left: 20px;
    font-size: 30px; 
    margin-top: 20px; 
    list-style: none;
    margin-bottom: 10%;
    margin-right: 100%;
  }

  .box li {
    margin-right: 20px;
  }

  .content {
    width: 70%;
    margin: 0;
    height: 70%;
    margin-top: 10%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .skill-bar{
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .skills p {
    font-size: 24px;
    margin-left: 15px;
  }

  .photo{
    height: 20vh;
    width: 20vh;
    margin: 10%;
    top: 10%;
    left: 40%;
  }

  .contact {
    margin-bottom: 150px;
    margin-left: 20px;
  }

  .contact h2 {
    font-size: 30px;
    margin-left: -20px;
  }

  .contact-links {
    flex-direction: column; 
  }

  .contact-link {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 10px; /* Space between links */
  }

  .gradient-bg, .gradient-container{
    width: 100%;
    height: 100%;
  }
  .skills h3{
    margin: 0;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .bio{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    left: 10%;
    margin-top: 30%;
  }
  .box {
    width: 95%;
    padding: 10px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }
  hr{
    width: 100%;
    margin: 0;
  }


  .box h1 {
    font-size: 60px; /* Smaller font size for mobile */
  }

  .box p {
    font-size: 20px; /* Smaller font size for mobile */
  }

  .box ul {
    display: flex;
    margin-left: 20px;
    font-size: 30px; /* Adjust list font size */
    margin-top: 10px; /* Adjust margin-top */
    list-style: none;
    margin-bottom: 0;
  }

  .box li {
    margin-right: 20px;
  }

  .content {
    width: 95%;
    top: 20%;
    height: fit-content;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
  }

  .skill-bar{
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .skills p {
    font-size: 24px;
    margin-left: 15px;
  }

  .photo{
    height: 20vh;
    width: 20vh;
    top: 15%;
    margin: 0;
    left: 50%;
  }

  .contact {
    margin-bottom: 150px;
    margin-left: 20px;
  }

  .contact h2 {
    font-size: 30px;
    margin-left: -20px;
  }

  .contact-links {
    flex-direction: column; 
  }

  .contact-link {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 10px; /* Space between links */
  }

  .gradient-bg, .gradient-container{
    width: 100%;
    height: 100%;
  }
  .skills h3{
    margin: 0;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


:root {
  --color-bg1: rgb(15, 3, 5); /* Light Pink */
  --color-bg2: rgb(34, 29, 31); /* Pale Violet Red */
  --color1: 255, 127, 80; 
  --color2: 255, 160, 122; 
  --color3: 135, 206, 250; 
  --color4: 102, 205, 170; 
  --color5: 152, 251, 152; 
  --circle-size: 100%;
  --color-interactive : 140, 100, 255;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveRightCorner {
  0% {
    transform: translate(0%, -20%);
  }
  50% {
    transform: translate(0%, 20%);
  }
  100% {
    transform: translate(0%, -20%);
  }
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(120deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: 0;

}

svg {
  display: none;
}

.gradient-container {
  filter :url(#fancy-goo) blur(40px);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0%, rgba(var(--color1), 0) 30%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc((--circle-size) + 400px);
  height: calc((--circle-size) + 400px);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  filter: url(#gooey);

  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0%, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) + 500px);
  height: calc(var(--circle-size) + 500px);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2); /* Adjust this value to move right */

  transform-origin: calc(50% - 200px);
  animation: moveInCircle 20s reverse infinite;
  filter: url(#gooey);

  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0%, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) + 300px);
  height: calc(var(--circle-size) + 300px);
  top: calc(50% - var(--circle-size) / 2 + 100px);
  left: calc(50% - var(--circle-size) / 2 - 200px); /* Adjust this value to move right */

  transform-origin: calc(50% + 200px);
  animation: moveInCircle 40s linear infinite;
  filter: url(#gooey);

  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0%, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) + 400px);
  height: calc(var(--circle-size) + 400px);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2); /* Adjust this value to move right */

  transform-origin: calc(100% - 100px);
  animation: moveHorizontal 20s reverse infinite;
  filter: url(#gooey);

  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0%, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size)); /* Adjust this value to move right */

  transform-origin: calc(50% - 400px) calc(50% + 100px);
  animation: moveInCircle 40s ease infinite;
  filter: url(#gooey);

  opacity: 1;
}

.g6 {
  background: radial-gradient(circle at center, rgba(255, 215, 0, 0.8) 0%, rgba(255, 215, 0, 0) 50%) no-repeat; /* Gold color */
  top: calc(90% - var(--circle-size) / 2);
  left: calc(90% - var(--circle-size) / 2);
  animation: moveRightCorner 30s ease infinite;
}


.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0%, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);

  width: calc(var(--circle-size) + 200px);
  height: calc(var(--circle-size) + 200px);
  transform: translate(-50%, -50%); /* Centering adjustment */

  opacity: 0.7;
  filter: url(#gooey) blur(40px);
}

